@model LetsRaid.Domain.MVCModels.Raid

@{
    ViewBag.Title = "Details";
}

<h2>Group Members</h2>

<div>
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Server
                </th>
                <th>
                    Class
                </th>
                <th>
                    Level
                </th>
                <th>
                    Role
                </th>
                <th>
                    Thumbnail
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Characters)
            {
                <tr>
                    <td>
                        @item.CharacterName
                    </td>
                    <td>
                        @item.ServerName
                    </td>
                    <td>
                        @item.GetCharacterClass(item.Class)
                    </td>
                    <td>
                        @item.Level
                    </td>
                    <td>
                        @item.Spec
                    </td>
                    <td>
                        <img src="@ViewBag.Thumbnail@item.Thumbnail" alt="Thumbnail" />
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "RemoveCharacterFromGroup", "Raids",
                           new
                           {
                               raidId = Model.RaidId,
                               id = item.CharacterID

                           },
                           new { @class = "btn btn-danger btn-md" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row text-center mt-3 mb-5">

        <div class="col-sm">
            @Html.ActionLink("Suggested Easy Boss", "SuggestBosses", new { id = Model.RaidId }, new { @class = "btn btn-success btn-lg btn-block" })

        </div>
        <div class="col-sm">

        @Html.ActionLink("Suggested Normal Boss", "AverageBoss", new { id = Model.RaidId }, new { @class = "btn btn-warning btn-lg btn-block" })
        </div>
        <div class="col-sm">

        @Html.ActionLink("Suggested Challenge Boss", "ChallengeBoss",  new { id = Model.RaidId }, new { @class = "btn btn-danger btn-lg btn-block" })
        </div>
    </div>
   
   
        @Html.ActionLink("Back to Groups", "Index")
  
</div>
