@model ICollection<LetsRaid.Models.DBCharacter>

@{
    ViewBag.Title = "Details";
}

<h2>Group Members</h2>

<div>
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Server
                </th>
                <th>
                    Class
                </th>
                <th>
                    Level
                </th>
                <th>
                    Role
                </th>
                <th>
                    Thumbnail
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.CharacterName
                </td>
                <td>
                    @item.ServerName
                </td>
                <td>
                    @item.GetCharacterClass(item.PlayerClass)
                </td>
                <td>
                    @item.Level
                </td>
                <td>
                    BlankForNow
                    @*@item.Role*@
                </td>
                <td>
                    <img src="@ViewBag.Thumbnail@item.Thumbnail" alt="Thumbnail" />
                </td>
                <td class="btn btn-default btn-md">
                    @Html.ActionLink("Remove", "RemoveCharacterFromGroup", "Raids",
                   new
                   {
                       raidId = item.RaidId, 
                       id = item.DBCharacterID

                   },
                   null)
                </td>
                <td>
                    @Html.ActionLink("LowestBoss", "SuggestBosses", "Raids", new { level = item.Level. })
                </td>
            </tr>
                    
            }
        </tbody>
    </table>
    
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.RaidId }) |*@
    @Html.ActionLink("Back to Groups", "Index")
</p>
