@model LetsRaid.Models.Raid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Raid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RaidId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
