@model IEnumerable<LetsRaid.Models.Raid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RaidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RaidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServerId)
        </td>
        <td>
            @Html.ActionLink("Add Players", "Index", "Guilds", new { Id = item.ServerId }, null)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RaidId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RaidId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RaidId })
        </td>*@
    </tr>
}

</table>
