@model IEnumerable<LetsRaid.Domain.MVCModels.Raid>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>LookingForGroups or BossFights</h1>
    <p class="lead">You gather the group. We'll suggest the bosses.</p>
    <p>@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>

@*<p>
   @Html.ActionLink("New Group", "Create")
</p>*@
<a href="@Url.Action("Create", "Raids")" class="btn btn-default btn-lg">New Group</a>
<table class="table">
    <tr>
        <th>
            Group Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RaidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServerId)
        </td>
        <td>
            @Html.ActionLink("Add Players", "Index", "Guilds", new { Id = item.ServerId, raidId = item.RaidId }, null) |
            @Html.ActionLink("Group List", "Details", new { id = item.RaidId })
        </td>
    </tr>
}

</table>
