@model LetsRaid.Models.Character
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            Faction
        </th>
        <th>
            Avg iLvl
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>

        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Realm)
        </td>
        <td>
            @Model.GetCharacterClass(Model.Class)
        </td>

       <td>
           @Model.GetMemberFaction(Model.Faction)
       </td>
       <td>
           @Html.DisplayFor(model => model.Gear.averageItemLevel) 
       </td>
        <td>
            <img src="@ViewBag.Thumbnail@Model.Thumbnail" alt="Thumbnail" />
        </td>
    </tr>


</table>
