@model LetsRaid.Models.Character

@{
    ViewBag.Title = "GetCharacter";
}

<h2>Charater View</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realm)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ItemLevel)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>
        <th></th>
    </tr>

 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Realm)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => Model.ItemLevel)
        </td>*@
         <td>
            <img src="@ViewBag.Thumbnail@Model.Thumbnail" alt="Alternate Text" />
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>


</table>
