@model LetsRaid.Models.MemberCharacter

@{
    ViewBag.Title = "GetMembers";
}

<h2>GetMembers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Members)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Server.Name)
        </th>
        <th></th>
    </tr>*@


    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Server.Name)
        </td>
    </tr>

</table>
