@using LetsRaid.Enums
@model LetsRaid.Models.GuildModels.Guild

@{
    ViewBag.Title = "Guild Members";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

<h2>Guild Members</h2>

@{string groupListPath = String.Format("Details/{0}", Request.QueryString["raidId"]); }
<a href="@Url.Action(groupListPath, "Raids")">Group List</a>

<table class="table table-striped table-hover display" id="characterTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Level</th>
            <th>Role</th>
            <th>Thumbnail</th>
            <th></th>
        </tr>

    </thead>


    <tbody>

        @for (int i = 0; i <= 100; i++)
        {
            <tr>
                <td>

                    @Html.ActionLink(Model.Members[i].Character.Name, "Details", "Character", new { serverName = Model.ServerName, characterName = Model.Members[i].Character.Name }, null)
                </td>
                <td>
                    @Model.GetCharacterClass(Model.Members[i].Character.Class)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Members[i].Character.Level)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Members[i].Character.Spec.role)
                </td>
                <td>
                    <img src="@ViewBag.Thumbnail@Model.Members[i].Character.Thumbnail" alt="Thumbnail" />
                </td>
                <td class="btn btn-default btn-md">
                    @Html.ActionLink("Add Character", "AddCharacterToDB", "Guilds",
                   new LetsRaid.ViewModels.AddRaidCharacterViewModel()
                   {
                       CharacterName = Model.Members[i].Character.Name,
                       ServerName = Model.ServerName,
                       ServerId = int.Parse(Request.QueryString["serverId"]),
                       GuildId = Convert.ToInt32(Request.QueryString["guildId"]),
                       RaidId = int.Parse(Request.QueryString["raidId"]),
                       PlayerClass = Model.Members[i].Character.Class,
                       Level = int.Parse(Model.Members[i].Character.Level),
                       Spec = Model.Members[i].Character.Spec?.role,
                       Thumbnail = Model.Members[i].Character.Thumbnail,

                   },
                   null)
                </td>                
            </tr>
          }
    </tbody>

    <tfoot>
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Level</th>
            <th>Role</th>
            <th>Thumbnail</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/data-table-filter.js"></script>